{
  "extends": "@snowpack/app-scripts-react/babel.config.json",
  "presets": [
    ["@babel/preset-env", {"targets": {"node": "current"}}],
    "@babel/preset-react",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "babel-plugin-transform-inline-environment-variables",
    "babel-plugin-macros",
    "@emotion/babel-plugin"
  ]
}